@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSans-BoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-Italic;
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-LightItalic;
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Black;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}
/* line 104, ../sass/fonts.scss */
.b-customers h3 {
  font-size: 1.5rem;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  line-height: 2.5rem;
  letter-spacing: 2px;
}
@media only screen and (min-width: 426px) {
  /* line 104, ../sass/fonts.scss */
  .b-customers h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

/* line 3, ../sass/customers.scss */
.b-customers {
  text-align: center;
  padding: 3rem 0 0;
}
@media only screen and (min-width: 426px) {
  /* line 3, ../sass/customers.scss */
  .b-customers {
    padding: 7rem 0 0;
  }
}
/* line 14, ../sass/customers.scss */
.b-customers ul {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}
@media only screen and (min-width: 426px) {
  /* line 14, ../sass/customers.scss */
  .b-customers ul {
    padding: 6rem 4rem;
  }
}
/* line 22, ../sass/customers.scss */
.b-customers ul li {
  flex-grow: 1;
  width: 30%;
  padding: 0 10% 10%;
}
@media only screen and (min-width: 426px) {
  /* line 22, ../sass/customers.scss */
  .b-customers ul li {
    width: 10%;
    padding: 0 3% 3%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  /* line 22, ../sass/customers.scss */
  .b-customers ul li {
    width: 15%;
    padding: 0 5% 3%;
  }
}
/* line 35, ../sass/customers.scss */
.b-customers ul li img {
  max-width: 100%;
}
