@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSans-BoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-Italic;
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-LightItalic;
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Black;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}
/* line 92, ../sass/fonts.scss */
.b-philosophy > p {
  font-family: OpenSans-Light;
  letter-spacing: 1px;
  line-height: 1rem;
  font-size: 0.8rem;
}
@media only screen and (min-width: 426px) {
  /* line 92, ../sass/fonts.scss */
  .b-philosophy > p {
    line-height: 1.6rem;
    font-size: 1.1rem;
  }
}

/* line 3, ../sass/intro.scss */
.b-philosophy {
  max-width: 90%;
  margin: 3rem auto 0;
}
@media only screen and (min-width: 1100px) {
  /* line 3, ../sass/intro.scss */
  .b-philosophy {
    max-width: 1100px;
    margin: 8rem auto 0;
  }
}
/* line 10, ../sass/intro.scss */
.b-philosophy > p {
  margin-bottom: 1.6rem;
}
/* line 15, ../sass/intro.scss */
.b-philosophy_quote {
  margin-bottom: 4%;
}
@media only screen and (min-width: 426px) {
  /* line 15, ../sass/intro.scss */
  .b-philosophy_quote {
    float: right;
    max-width: 55%;
    margin-left: 10%;
  }
}
/* line 22, ../sass/intro.scss */
.b-philosophy_quote p {
  font-family: Roboto-Bold;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 426px) {
  /* line 22, ../sass/intro.scss */
  .b-philosophy_quote p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
/* line 33, ../sass/intro.scss */
.b-philosophy_quote p span {
  color: #329ed1;
}
/* line 37, ../sass/intro.scss */
.b-philosophy_quote > span {
  font-family: OpenSans-LightItalic;
  letter-spacing: 1px;
  line-height: 1.6rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  display: inline-block;
}
