/* line 5, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSans-BoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-Italic;
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-LightItalic;
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Black;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}
/* line 92, ../sass/fonts.scss */
.b-presentation_slider-text-w p, .b-philosophy > p, .b-services_section, footer > p {
  font-family: OpenSans-Light;
  letter-spacing: 1px;
  line-height: 1rem;
  font-size: 0.8rem;
}
@media only screen and (min-width: 426px) {
  /* line 92, ../sass/fonts.scss */
  .b-presentation_slider-text-w p, .b-philosophy > p, .b-services_section, footer > p {
    line-height: 1.6rem;
    font-size: 1.1rem;
  }
}

/* line 104, ../sass/fonts.scss */
.b-services h3, .b-customers h3 {
  font-size: 1.5rem;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  line-height: 2.5rem;
  letter-spacing: 2px;
}
@media only screen and (min-width: 426px) {
  /* line 104, ../sass/fonts.scss */
  .b-services h3, .b-customers h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

/* line 7, ../sass/slider.scss */
.b-presentation_slider .slick-list .slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
/* line 13, ../sass/slider.scss */
.b-presentation_slider .slick-list .slick-track .slick-slide {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 20, ../sass/slider.scss */
.b-presentation_slider .slick-list .slick-track .slick-slide .b-presentation_slider-img {
  max-width: 100%;
  width: 100%;
}
/* line 28, ../sass/slider.scss */
.b-presentation_slider .slick-dots {
  position: absolute;
  bottom: 0.5rem;
}
@media only screen and (min-width: 426px) {
  /* line 28, ../sass/slider.scss */
  .b-presentation_slider .slick-dots {
    bottom: 1.5rem;
  }
}
/* line 36, ../sass/slider.scss */
.b-presentation_slider .slick-dots li button:before {
  border-radius: 50%;
  border-color: #fff;
  border: 1px solid;
  width: 8px;
  height: 8px;
  padding: 0;
  content: '';
  opacity: 1;
  color: #fff;
}
/* line 51, ../sass/slider.scss */
.b-presentation_slider .slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1;
  color: #fff;
  content: '';
}
/* line 61, ../sass/slider.scss */
.b-presentation_slider--overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0e1c27;
  opacity: .6;
}
/* line 69, ../sass/slider.scss */
.b-presentation_slider-text-w {
  position: absolute;
  text-align: center;
  color: #fff;
  max-width: 90%;
  margin-top: -0.2rem;
}
@media only screen and (min-width: 426px) {
  /* line 69, ../sass/slider.scss */
  .b-presentation_slider-text-w {
    max-width: 62%;
    margin-top: -2.2rem;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  /* line 69, ../sass/slider.scss */
  .b-presentation_slider-text-w {
    max-width: 80%;
    padding: 0 5% 3%;
    margin-top: 0;
  }
}
/* line 86, ../sass/slider.scss */
.b-presentation_slider-text-w_img {
  width: 2.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 426px) {
  /* line 86, ../sass/slider.scss */
  .b-presentation_slider-text-w_img {
    margin-bottom: 3rem;
    width: 4.5rem;
  }
}
/* line 96, ../sass/slider.scss */
.b-presentation_slider-text-w h2 {
  font-size: 1.6rem;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.2rem;
}
@media only screen and (min-width: 426px) {
  /* line 96, ../sass/slider.scss */
  .b-presentation_slider-text-w h2 {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  /* line 96, ../sass/slider.scss */
  .b-presentation_slider-text-w h2 {
    font-size: 2.6rem;
  }
}
/* line 111, ../sass/slider.scss */
.b-presentation_slider-text-w p {
  display: none;
}
@media only screen and (min-width: 768px) {
  /* line 111, ../sass/slider.scss */
  .b-presentation_slider-text-w p {
    display: block;
  }
}

/* line 4, ../sass/menu.scss */
header .hamburger-w {
  position: fixed;
  z-index: 2;
  margin: 1rem;
  background-color: rgba(14, 28, 39, 0.2);
}
@media only screen and (min-width: 768px) {
  /* line 4, ../sass/menu.scss */
  header .hamburger-w {
    margin: 2rem;
  }
}
/* line 12, ../sass/menu.scss */
header .hamburger-w .hamburger {
  outline: none;
  border: 1px solid #fff;
  padding: 6px 4px 1px;
  transition: padding 0.15s linear 0.1s, margin 0.15s linear 0.1s;
}
/* line 17, ../sass/menu.scss */
header .hamburger-w .hamburger:hover {
  padding: 9px 7px 4px;
  margin: -3px 0 0 -3px;
}
/* line 23, ../sass/menu.scss */
header navigation {
  background: rgba(14, 28, 39, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  transform: translate3d(0, -100%, 0);
  transition: all 1s;
}
/* line 35, ../sass/menu.scss */
header navigation.open {
  transform: translate3d(0, 0, 0);
}
/* line 38, ../sass/menu.scss */
header navigation ul {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto-Regular;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
/* line 45, ../sass/menu.scss */
header navigation ul li {
  margin: 2rem 0;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.1s linear 0.1s;
  -ms-transition: color 0.1s linear 0.1s;
  transition: color 0.15s linear 0.1s;
}
/* line 5, ../sass/mixins.scss */
header navigation ul li:hover {
  color: #329ed1;
}

/* line 3, ../sass/intro.scss */
.b-philosophy {
  max-width: 90%;
  margin: 3rem auto 0;
}
@media only screen and (min-width: 1100px) {
  /* line 3, ../sass/intro.scss */
  .b-philosophy {
    max-width: 1100px;
    margin: 8rem auto 0;
  }
}
/* line 10, ../sass/intro.scss */
.b-philosophy > p {
  margin-bottom: 1.6rem;
}
/* line 15, ../sass/intro.scss */
.b-philosophy_quote {
  margin-bottom: 4%;
}
@media only screen and (min-width: 426px) {
  /* line 15, ../sass/intro.scss */
  .b-philosophy_quote {
    float: right;
    max-width: 55%;
    margin-left: 10%;
  }
}
/* line 22, ../sass/intro.scss */
.b-philosophy_quote p {
  font-family: Roboto-Bold;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 426px) {
  /* line 22, ../sass/intro.scss */
  .b-philosophy_quote p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
/* line 33, ../sass/intro.scss */
.b-philosophy_quote p span {
  color: #329ed1;
}
/* line 37, ../sass/intro.scss */
.b-philosophy_quote > span {
  font-family: OpenSans-LightItalic;
  letter-spacing: 1px;
  line-height: 1.6rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  display: inline-block;
}

/* line 3, ../sass/services.scss */
.b-services {
  background-color: #0e1c27;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  margin-top: 3rem;
}
@media only screen and (min-width: 426px) {
  /* line 3, ../sass/services.scss */
  .b-services {
    margin-top: 8rem;
    padding: 7rem 0;
  }
}
/* line 14, ../sass/services.scss */
.b-services--w {
  max-width: 90%;
  margin: 2rem auto 0;
}
@media only screen and (min-width: 768px) {
  /* line 14, ../sass/services.scss */
  .b-services--w {
    display: flex;
    justify-content: space-around;
    margin: 6rem auto 0;
    max-width: 1100px;
  }
}
/* line 26, ../sass/services.scss */
.b-services_section {
  flex-basis: 40%;
}
/* line 29, ../sass/services.scss */
.b-services_section span {
  background-repeat: no-repeat;
  display: block;
  width: 6rem;
  height: 6rem;
  background-size: 6rem 6rem;
  margin: 0 auto;
}
/* line 37, ../sass/services.scss */
.b-services_section-title {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 3px;
}
@media only screen and (min-width: 426px) {
  /* line 37, ../sass/services.scss */
  .b-services_section-title {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
/* line 51, ../sass/services.scss */
.b-services_consultoria-icon {
  background: url(../icons/development.svg);
}
/* line 55, ../sass/services.scss */
.b-services_desarrollo {
  margin-top: 3rem;
}
/* line 56, ../sass/services.scss */
.b-services_desarrollo-icon {
  background: url(../icons/consultancy.svg);
}
@media only screen and (min-width: 768px) {
  /* line 55, ../sass/services.scss */
  .b-services_desarrollo {
    margin-top: 0;
  }
}

/* line 3, ../sass/customers.scss */
.b-customers {
  text-align: center;
  padding: 3rem 0 0;
}
@media only screen and (min-width: 426px) {
  /* line 3, ../sass/customers.scss */
  .b-customers {
    padding: 7rem 0 0;
  }
}
/* line 14, ../sass/customers.scss */
.b-customers ul {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}
@media only screen and (min-width: 426px) {
  /* line 14, ../sass/customers.scss */
  .b-customers ul {
    padding: 6rem 4rem;
  }
}
/* line 22, ../sass/customers.scss */
.b-customers ul li {
  flex-grow: 1;
  width: 30%;
  padding: 0 10% 10%;
}
@media only screen and (min-width: 426px) {
  /* line 22, ../sass/customers.scss */
  .b-customers ul li {
    width: 10%;
    padding: 0 3% 3%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  /* line 22, ../sass/customers.scss */
  .b-customers ul li {
    width: 15%;
    padding: 0 5% 3%;
  }
}
/* line 35, ../sass/customers.scss */
.b-customers ul li img {
  max-width: 100%;
}

/* line 3, ../sass/footer.scss */
footer {
  color: #fff;
  background-color: #0e1c27;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 1.5rem;
}
@media only screen and (min-width: 426px) {
  /* line 3, ../sass/footer.scss */
  footer {
    padding: 3.5rem 5.5rem;
  }
}
/* line 13, ../sass/footer.scss */
footer > p {
  font-size: 0.8rem;
}
/* line 18, ../sass/footer.scss */
footer .b-social-media {
  margin-top: -0.5rem;
}
/* line 20, ../sass/footer.scss */
footer .b-social-media a {
  text-decoration: none;
}
/* line 22, ../sass/footer.scss */
footer .b-social-media a svg {
  height: 20px;
  width: auto;
  fill: #fff;
  margin-left: 0.7rem;
  transition: fill 0.15s linear 0.1s;
}
@media only screen and (min-width: 426px) {
  /* line 22, ../sass/footer.scss */
  footer .b-social-media a svg {
    margin-left: 1.7rem;
    height: 24px;
  }
}
/* line 32, ../sass/footer.scss */
footer .b-social-media a svg:hover {
  fill: #329ed1;
}

/* line 9, ../sass/main.scss */
body {
  max-width: 1280px;
  margin: 0 auto;
}
