/* line 4, ../sass/menu.scss */
header .hamburger-w {
  position: fixed;
  z-index: 2;
  margin: 1rem;
  background-color: rgba(14, 28, 39, 0.2);
}
@media only screen and (min-width: 768px) {
  /* line 4, ../sass/menu.scss */
  header .hamburger-w {
    margin: 2rem;
  }
}
/* line 12, ../sass/menu.scss */
header .hamburger-w .hamburger {
  outline: none;
  border: 1px solid #fff;
  padding: 6px 4px 1px;
  transition: padding 0.15s linear 0.1s, margin 0.15s linear 0.1s;
}
/* line 17, ../sass/menu.scss */
header .hamburger-w .hamburger:hover {
  padding: 9px 7px 4px;
  margin: -3px 0 0 -3px;
}
/* line 23, ../sass/menu.scss */
header navigation {
  background: rgba(14, 28, 39, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  transform: translate3d(0, -100%, 0);
  transition: all 1s;
}
/* line 35, ../sass/menu.scss */
header navigation.open {
  transform: translate3d(0, 0, 0);
}
/* line 38, ../sass/menu.scss */
header navigation ul {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto-Regular;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
/* line 45, ../sass/menu.scss */
header navigation ul li {
  margin: 2rem 0;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.1s linear 0.1s;
  -ms-transition: color 0.1s linear 0.1s;
  transition: color 0.15s linear 0.1s;
}
/* line 5, ../sass/mixins.scss */
header navigation ul li:hover {
  color: #329ed1;
}
