@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSans-BoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-Italic;
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-LightItalic;
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Black;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}
/* line 92, ../sass/fonts.scss */
.b-services_section {
  font-family: OpenSans-Light;
  letter-spacing: 1px;
  line-height: 1rem;
  font-size: 0.8rem;
}
@media only screen and (min-width: 426px) {
  /* line 92, ../sass/fonts.scss */
  .b-services_section {
    line-height: 1.6rem;
    font-size: 1.1rem;
  }
}

/* line 104, ../sass/fonts.scss */
.b-services h3 {
  font-size: 1.5rem;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  line-height: 2.5rem;
  letter-spacing: 2px;
}
@media only screen and (min-width: 426px) {
  /* line 104, ../sass/fonts.scss */
  .b-services h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

/* line 3, ../sass/services.scss */
.b-services {
  background-color: #0e1c27;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  margin-top: 3rem;
}
@media only screen and (min-width: 426px) {
  /* line 3, ../sass/services.scss */
  .b-services {
    margin-top: 8rem;
    padding: 7rem 0;
  }
}
/* line 14, ../sass/services.scss */
.b-services--w {
  max-width: 90%;
  margin: 2rem auto 0;
}
@media only screen and (min-width: 768px) {
  /* line 14, ../sass/services.scss */
  .b-services--w {
    display: flex;
    justify-content: space-around;
    margin: 6rem auto 0;
    max-width: 1100px;
  }
}
/* line 26, ../sass/services.scss */
.b-services_section {
  flex-basis: 40%;
}
/* line 29, ../sass/services.scss */
.b-services_section span {
  background-repeat: no-repeat;
  display: block;
  width: 6rem;
  height: 6rem;
  background-size: 6rem 6rem;
  margin: 0 auto;
}
/* line 37, ../sass/services.scss */
.b-services_section-title {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 3px;
}
@media only screen and (min-width: 426px) {
  /* line 37, ../sass/services.scss */
  .b-services_section-title {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
/* line 51, ../sass/services.scss */
.b-services_consultoria-icon {
  background: url(../icons/development.svg);
}
/* line 55, ../sass/services.scss */
.b-services_desarrollo {
  margin-top: 3rem;
}
/* line 56, ../sass/services.scss */
.b-services_desarrollo-icon {
  background: url(../icons/consultancy.svg);
}
@media only screen and (min-width: 768px) {
  /* line 55, ../sass/services.scss */
  .b-services_desarrollo {
    margin-top: 0;
  }
}
