@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSans-BoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-Italic;
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-LightItalic;
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Black;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}
/* line 92, ../sass/fonts.scss */
.b-presentation_slider-text-w p {
  font-family: OpenSans-Light;
  letter-spacing: 1px;
  line-height: 1rem;
  font-size: 0.8rem;
}
@media only screen and (min-width: 426px) {
  /* line 92, ../sass/fonts.scss */
  .b-presentation_slider-text-w p {
    line-height: 1.6rem;
    font-size: 1.1rem;
  }
}

/* line 7, ../sass/slider.scss */
.b-presentation_slider .slick-list .slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
/* line 13, ../sass/slider.scss */
.b-presentation_slider .slick-list .slick-track .slick-slide {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 20, ../sass/slider.scss */
.b-presentation_slider .slick-list .slick-track .slick-slide .b-presentation_slider-img {
  max-width: 100%;
  width: 100%;
}
/* line 28, ../sass/slider.scss */
.b-presentation_slider .slick-dots {
  position: absolute;
  bottom: 0.5rem;
}
@media only screen and (min-width: 426px) {
  /* line 28, ../sass/slider.scss */
  .b-presentation_slider .slick-dots {
    bottom: 1.5rem;
  }
}
/* line 36, ../sass/slider.scss */
.b-presentation_slider .slick-dots li button:before {
  border-radius: 50%;
  border-color: #fff;
  border: 1px solid;
  width: 8px;
  height: 8px;
  padding: 0;
  content: '';
  opacity: 1;
  color: #fff;
}
/* line 51, ../sass/slider.scss */
.b-presentation_slider .slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1;
  color: #fff;
  content: '';
}
/* line 61, ../sass/slider.scss */
.b-presentation_slider--overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0e1c27;
  opacity: .6;
}
/* line 69, ../sass/slider.scss */
.b-presentation_slider-text-w {
  position: absolute;
  text-align: center;
  color: #fff;
  max-width: 90%;
  margin-top: -0.2rem;
}
@media only screen and (min-width: 426px) {
  /* line 69, ../sass/slider.scss */
  .b-presentation_slider-text-w {
    max-width: 62%;
    margin-top: -2.2rem;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  /* line 69, ../sass/slider.scss */
  .b-presentation_slider-text-w {
    max-width: 80%;
    padding: 0 5% 3%;
    margin-top: 0;
  }
}
/* line 86, ../sass/slider.scss */
.b-presentation_slider-text-w_img {
  width: 2.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 426px) {
  /* line 86, ../sass/slider.scss */
  .b-presentation_slider-text-w_img {
    margin-bottom: 3rem;
    width: 4.5rem;
  }
}
/* line 96, ../sass/slider.scss */
.b-presentation_slider-text-w h2 {
  font-size: 1.6rem;
  font-family: Roboto-Medium;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.2rem;
}
@media only screen and (min-width: 426px) {
  /* line 96, ../sass/slider.scss */
  .b-presentation_slider-text-w h2 {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  /* line 96, ../sass/slider.scss */
  .b-presentation_slider-text-w h2 {
    font-size: 2.6rem;
  }
}
/* line 111, ../sass/slider.scss */
.b-presentation_slider-text-w p {
  display: none;
}
@media only screen and (min-width: 768px) {
  /* line 111, ../sass/slider.scss */
  .b-presentation_slider-text-w p {
    display: block;
  }
}
