@import "variables";
@import "fonts";
.b-customers {
	text-align: center;
	padding: 3rem 0 0;
    @media only screen and (min-width: 426px) {
        padding: 7rem 0 0;
    }

    h3 {
		@extend %section-title;
	}

	ul {
		display: flex;
    	flex-wrap: wrap;
    	padding: 2rem 1rem;
        @media only screen and (min-width: 426px) {
            padding: 6rem 4rem;
        }

    	li {
    		flex-grow: 1;
    		width: 30%;
    		padding: 0 10% 10%;
            @media only screen and (min-width: 426px) {
                width: 10%;
                padding: 0 3% 3%;
            }
            @media only screen and (max-width: 768px) and (min-width: 426px) {
                width: 15%;
                padding: 0 5% 3%;
            }

    		img {
    			max-width: 100%;
    		}
    	}
	}
}