@font-face {
    font-family: OpenSans-Bold;
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: OpenSans-BoldItalic;
    src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf");
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}
@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: OpenSans-Italic;
    src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
}
@font-face {
    font-family: OpenSans-Light;
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
    font-family: OpenSans-LightItalic;
    src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
}
@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: OpenSans-SemiBoldItalic;
    src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
}


@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: Roboto-BlackItalic;
    src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-BoldItalic;
    src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
    font-family: Roboto-Italic;
    src: url("../fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto-LightItalic;
    src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: Roboto-MediumItalic;
    src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Thin;
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
    font-family: Roboto-ThinItalic;
    src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}

%regular-paragraph {
    font-family: OpenSans-Light;
    letter-spacing: 1px;
    line-height: 1rem;
    font-size: 0.8rem;

    @media only screen and (min-width: 426px) {
        line-height: 1.6rem;
        font-size: 1.1rem;
    }
}

%section-title {
    font-size: 1.5rem;
    font-family: Roboto-Medium;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: 2px;
    @media only screen and (min-width: 426px) {
        font-size: 2rem;
        line-height: 3rem;
    }
}
