@import "variables";
@import "fonts";
footer {
	color: $white;
	background-color: $secondary-color;
	display: flex;
	justify-content: space-between;
	padding: 2.5rem 1.5rem;
	@media only screen and (min-width: 426px) {
        padding: 3.5rem 5.5rem;
    }

    >p {
    	@extend %regular-paragraph;
    	font-size: 0.8rem;
    }

	.b-social-media {
		margin-top: -0.5rem;
		a {
			text-decoration: none;
			svg {
				height: 20px; 
				width: auto;
				fill: $white;
				margin-left: 0.7rem;
				@media only screen and (min-width: 426px) {
			        margin-left: 1.7rem;
			        height: 24px; 
			    }
				transition: fill 0.15s linear 0.1s;
				&:hover {
					fill: $primary-color;
				}
			}
		}
	}
}