@import "variables";
@import "fonts";
.b-philosophy {
	max-width: 90%;
    margin: 3rem auto 0;
    @media only screen and (min-width: 1100px) {
	    max-width: 1100px;
	    margin: 8rem auto 0;
	}
    > p {
    	@extend %regular-paragraph;
		margin-bottom: 1.6rem;
    }
  
	&_quote {
    	margin-bottom: 4%;
    	@media only screen and (min-width: 426px) {
		    float: right;
	    	max-width: 55%;
	    	margin-left: 10%;
		}
		p {
	    	font-family: Roboto-Bold;
	    	text-transform: uppercase;
	    	letter-spacing: 0;
	    	font-size: 1.5rem;
			line-height: 2rem;
	    	@media only screen and (min-width: 426px) {
			    font-size: 2.5rem;
			    line-height: 3rem;
			}

	    	span {
	    		color: $primary-color;
	    	}
		}
		> span {
			font-family: OpenSans-LightItalic;
			letter-spacing: 1px;
			line-height: 1.6rem;
			font-size: 1.1rem;
			margin-top: 1rem;
			display: inline-block;
		}
	}
}