@import "variables";
@import "mixins";
header {
	.hamburger-w {
		position: fixed;
		z-index: 2;
		margin: 1rem;
		@media only screen and (min-width: 768px) {
		    margin: 2rem;
		}
		background-color: $secondary-color-alpha-l;
		.hamburger {
			outline: none;
			border: 1px solid $white;
    		padding: 6px 4px 1px;
    		transition: padding 0.15s linear 0.1s, margin 0.15s linear 0.1s;
			&:hover {
				padding: 9px 7px 4px;
				margin: -3px 0 0 -3px;
			}
		}
	}
	navigation {
		background: $secondary-color-alpha;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    min-height: 100vh;
	    position: fixed;
	    z-index: 1;
	    width: 100%;
	    max-width: 1280px;
	    transform: translate3d(0, -100%, 0);
	    transition: all 1s;
	    &.open {
	    	transform: translate3d(0, 0, 0);
	    }
		ul {
			text-align: center;
		    color: $white;
		    text-transform: uppercase;
		    font-family: Roboto-Regular;
		    font-size: 2rem;
		    letter-spacing: 0.2rem;
		    li {
		    	margin: 2rem 0;
		    	cursor: pointer;
	    		text-decoration: none;
	    		color: $white;
	    		@include hover-color($primary-color);
		    }
		}
	}
}