@import "variables";
@import "fonts";
.b-services {
	background-color: $secondary-color;
	color: $white;
	text-align: center;
	padding: 3rem 0;
    margin-top: 3rem;
    @media only screen and (min-width: 426px) {
    	margin-top: 8rem;
    	padding: 7rem 0;
	}

	&--w {
		max-width: 90%;
		margin: 2rem auto 0;

		@media only screen and (min-width: 768px) {
		    display: flex;
			justify-content: space-around;
			margin: 6rem auto 0;
			max-width: 1100px;
		}
	}

	&_section {
		flex-basis: 40%;
		@extend %regular-paragraph;
		span {
			background-repeat: no-repeat;
		    display: block;
		    width: 6rem;
		    height: 6rem;
		    background-size: 6rem 6rem;
		    margin: 0 auto;
		}
		&-title {
			margin-top: 2.5rem;
			margin-bottom: 2rem;
		    font-size: 1.2rem;
		    line-height: 1.4rem;
		    letter-spacing: 3px;
		    @media only screen and (min-width: 426px) {
			    font-size: 1.8rem;
			    line-height: 2rem;
			}
		}
	}

	&_consultoria {
		&-icon {
			background: url(../icons/development.svg);
		}
	}
	&_desarrollo {
		&-icon {
			background: url(../icons/consultancy.svg);
		}
		margin-top: 3rem;
		@media only screen and (min-width: 768px) {
			margin-top: 0;
		}
	}

	h3 {
		@extend %section-title;
	}
}