@import "variables";
@import "fonts";
.b-presentation {
	&_slider {
		.slick-list {

			.slick-track {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: stretch;

				.slick-slide {
				    height: auto;
				    position: relative;
				    display: flex;
				    justify-content: center;
				    align-items: center;

				    .b-presentation_slider-img {
						max-width: 100%;
						width: 100%;
					}
				}
			}
		}

		.slick-dots {
			position: absolute;
    		bottom: 0.5rem;
    		@media only screen and (min-width: 426px) {
				bottom: 1.5rem;
			}
    		 li {
    		 	button {
    		 		&:before {
    		 			border-radius: 50%;
					    border-color: $white;
					    border: 1px solid;
					    width: 8px;
					    height: 8px;
					    padding: 0;
					    content: '';
					    opacity: 1;
					    color: $white;
    		 		}
    		 	}
    		 }
    		 li.slick-active {
    		 	button {
    		 		&:before {
    		 			background-color: $white;
    		 			opacity: 1;
					    color: $white;
					    content: '';
    		 		}
    		 	}
    		 }
		}

		&--overlay {
			width: 100%;
		    height: 100%;
		    position: absolute;
		    background: $secondary-color;
		    opacity: .6;
		}

		&-text-w {
		    position: absolute;
		    text-align: center;
		    color: $white;
		    max-width: 90%;
		    margin-top: -0.2rem;

		    @media only screen and (min-width: 426px) {
				max-width: 62%;
				margin-top: -2.2rem;
			}
			@media only screen and (max-width: 768px) and (min-width: 426px) {
                max-width: 80%;
                padding: 0 5% 3%;
                margin-top: 0;
            }

		    &_img {
		    	width: 2.5rem;
		    	margin: 0 auto;
		    	margin-bottom: 1rem;
		    	@media only screen and (min-width: 426px) {
					margin-bottom: 3rem;
					width: 4.5rem;
				}
		    }

		    h2 {
		    	font-size: 1.6rem;
		    	font-family: Roboto-Medium;
		    	text-transform: uppercase;
		    	letter-spacing: 0.2rem;
		    	margin-bottom: 1.2rem;

		    	@media only screen and (min-width: 426px) {
					font-size: 3.6rem;
				}
				@media only screen and (max-width: 768px) and (min-width: 426px) {
	                font-size: 2.6rem;
	            }
		    }

		    p {
		    	display: none;
		    	@extend %regular-paragraph;
		    	@media only screen and (min-width: 768px) {
					display: block;
				}
		    }
		}
	}
}