html  
    head
        meta(name="viewport" content="width=device-width,initial-scale=1")
        title Prueba Landing Page Elegra
        link(href='css/main.css', rel='stylesheet')
        link(href='css/lib/hamburgers.css', rel='stylesheet')
        link(href='slick/slick.css', rel='stylesheet')
        link(href='slick/slick-theme.css', rel='stylesheet')

    body
        header
            .hamburger-w
                button.hamburger.hamburger--spring#js-trigger(type="button")
                    span.hamburger-box
                        span.hamburger-inner
            navigation#js-menu
                ul.b-menu
                    li Inicio
                    li Servicios
                    li Metodología
                    li Contacto
                    li Blog

        section.b-presentation
            ul.b-presentation_slider.js-presentation_slider
                li
                    span.b-presentation_slider--overlay
                    img.b-presentation_slider-img(src='images/hero_image.jpg' alt='hero')
                    .b-presentation_slider-text-w   
                        img.b-presentation_slider-text-w_img(src='icons/logo.png' alt='Elegra')
                        h2 Diseñamos para pensar
                        p En Elegra nos centramos en ofrecer nuestros servicios a empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.
                li
                    span.b-presentation_slider--overlay
                    img.b-presentation_slider-img(src='images/hero_image1.jpg' alt='hero1')
                    .b-presentation_slider-text-w   
                        img.b-presentation_slider-text-w_img(src='icons/logo.png' alt='Elegra')
                        h2 Diseñamos para pensar
                        p En Elegra nos centramos en ofrecer nuestros servicios a empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.
                li
                    span.b-presentation_slider--overlay
                    img.b-presentation_slider-img(src='images/hero_image2.jpg' alt='hero2')
                    .b-presentation_slider-text-w   
                        img.b-presentation_slider-text-w_img(src='icons/logo.png' alt='Elegra')
                        h2 Diseñamos para pensar
                        p En Elegra nos centramos en ofrecer nuestros servicios a empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.

        article.b-philosophy
            .b-philosophy_quote
                p Sólo podemos ver poco del futuro, pero lo suficiente para darnos cuenta de que 
                    span  hay mucho por hacer.
                span Alan Turing

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lorem a est dictum blandit sit amet quis justo. Integer bibendum, lacus vestibulum tristique pharetra, leo nibh congue diam, sed bibendum orci odio eget est. In condimentum odio ultricies purus faucibus, ac ornare nisi feugiat. Vestibulum auctor, tortor et dapibus tempor, nisl nulla fermentum mauris.

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lorem a est dictum blandit sit amet quis justo. Integer bibendum, lacus vestibulum tristique pharetra, leo nibh congue diam, sed bibendum orci odio eget est. In condimentum odio ultricies purus faucibus, ac ornare nisi feugiat. Vestibulum auctor, tortor et dapibus tempor, nisl nulla fermentum mauris, a mattis arcu tortor consectetur magna.         

        section.b-services
            h3 Servicios
            .b-services--w
                .b-services_consultoria.b-services_section
                    span.b-services_consultoria-icon(title='Consultoría icono')
                    p.b-services_section-title Consultoría informática
                    p Diseñados para pensar. Nuestro principio es que no hay solución óptima sin un estudio previo en el que conocer tu negocio. Analizamos tus necesidades y planteamos la mejor solución.
                .b-services_desarrollo.b-services_section
                    span.b-services_desarrollo-icon(title='Desarrollo icono')
                    p.b-services_section-title Desarrollo
                    p Desarrollamos software basado en las últimas tecnologías, optimizando su rendimiento y certificando su calidad.Grandes maras cuentan con nuestros desarrollos, y desde entonces, mantienen el rendimiento, calidad y sencillez en la gestión.

        section.b-customers
            h3 clientes
            ul
                li
                    img(src='images/logo_ferrovial.png' alt='ferrovial')
                li
                    img(src='images/logo_american-express.png' alt='american express')
                li
                    img(src='images/logo_ie-business.png' alt='ie bussines')
                li
                    img(src='images/logo_ferrovial.png' alt='ferrovial')
                li
                    img(src='images/logo_american-express.png' alt='american express')
                li
                    img(src='images/logo_ie-business.png' alt='ie bussines')
                li
                    img(src='images/logo_american-express.png' alt='american express')
                li
                    img(src='images/logo_ie-business.png' alt='ie bussines')
                li
                    img(src='images/logo_ferrovial.png' alt='ferrovial')
                li
                    img(src='images/logo_american-express.png' alt='american express')
                li
                    img(src='images/logo_ie-business.png' alt='ie bussines')
                li
                    img(src='images/logo_ferrovial.png' alt='ferrovial')

        footer
            p.copyright @Copyright - Elegra
            .b-social-media
                a(href='#', title='facebook')
                    include icons/facebook-letter-logo.svg
                a(href='#', title='twitter')
                    include icons/twitter-letter-logo.svg
                a(href='#', title='linkedin')
                    include icons/linkedin-logo.svg

        //- jQuery needed for slick.js
        script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js')
        script(src='slick/slick.min.js')
        script(src='js/mainSlider.js')
        script(src='js/menu.js')



